@media only screen and (max-width: 1024px){
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .flowers_img {
        justify-content: space-around;
    }
    .banner-section .blog_left article {
        display: block;
        margin: auto;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-top .container-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-info {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
}
@media only screen and (max-width: 993px){
    header .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .flowers_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
    }

}
@media only screen and (max-width: 834px){
    .banner {
        padding-bottom: 20px;
    }
    .flowers_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-info {
        gap: 25px;
    }
    .social-media {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 820px) {
    header .container {
        padding-right: 13px;
        padding-left: 13px;
    }
    .banner {
        padding-bottom: 25px;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .social-media {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 800px) {
    .banner {
        padding-bottom: 28px;
    }
    .flowers_img {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .container-info {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    .social-media {
        margin-right: 25px;
    }
}
@media only screen and (max-width: 769px){
    .banner_left {
        text-align: center;
    }
    .banner_left .text_top {
        padding-top: 35px;
    }
    .banner .text_title  {
        font-size: 65px;
    }
    .product_text {
        padding-left: 15px;
    }
    .text_product ul{
        gap: 20px;
        padding-right: 30px;
    }
    .text_product p {
        padding-right: 15px;
    }
    .banner-section .blog_left article {
        display: block;
        margin: auto;
        text-align: center;
    }
    .blog_left article h3{
        text-align: center;
        padding-top: 15px;
    }
    .blog_left article p{
        text-align: center;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-top .container-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-top .cards-info{
        border-radius: 0;
    }
}
@media only screen and (max-width: 429px) {
    .header .nav__list{
        display: block;
    } 
    .nav-but-wrap {
        display: inline-block;
    }
    body.nav-active .nav__list-item {
        padding-bottom: 20px;
    }
    header .container {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }
    .container .first-logo{
        overflow: hidden;
        display: inline-block;
        width: 36px;
    }
    .banner {
        display: block;
    }
    .banner_left{
        text-align: center;
        padding-right: 15px;
        padding-top: 15px;
    }
    .banner .text_title  {
        font-size: 53px;
    }
    .product_container {
        display: block;
    }
    .product_text{
        margin-bottom: 50px;
    }
    .product_text ul {
        padding-left: 50px;
        margin-bottom: 60px;
    }
    .product_text p{
        padding-left: 40px;
    }
    .sale_img {
        margin-left: 44px;
    }
    .text_product {
        flex-wrap: wrap;
        padding: 0 15px;
    }
    .text_product ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        gap: 90px;
        padding-bottom: 10px;
    }
    .text_product p {
        text-align: center;
        margin-top: 10px;
    }
    .banner-section {
        margin-bottom: 60px;
    }
    .banner-section .blog_left {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-section .blog_left article {
        text-align: center;
    }
    .banner_right img {
        width: 100%;
        height: 454px;
    }
    .blog_left h3 {
        text-align: center;
        padding-top: 15px;
    }
    .blog_left p {
        text-align: center;
    }
    .blog_left a {
        margin-left: 0;
    }
    .container_blog .text-blog {
        padding-right: 15px;
        padding-left: 15px;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-top .container-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-top .cards-info{
        text-align: center;
        border-right: hidden;
    }
    .container-background {
        flex-direction: column;
        font-size: 8px;
    }
    .container-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 415px) {
    .banner .text_title  {
        font-size: 50px;
    }
    .banner_right img {
        width: 100%;
        height: 454px;
    }
    .text_product ul {
        gap: 75px;
        padding-bottom: 8px;
    }
    .text_product p {
        margin-top: 8px;
    }
    .flowers_img {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .banner-section .blog_left article {
        display: block;
        margin: auto;
    }
    .blog_left h3 {
        padding-top: 12px;
    }
    .blog .flower-collection {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .blog .flower-collection article {
        margin: 13px;
    }
    .banner-top .container-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .social-media {
        margin-top: 0;
        margin-right: 15px;
        margin-bottom: 12px;
    }
}


