@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal {
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    border-bottom: solid 10px #46a358;
}
.modal .title {
    text-align: center;
    margin-bottom: 40px;
}
.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;

}
.modal .title a:last-of-type {
    color: #46a358;;
}
.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
.input_name {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}
.input_email {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}
.input_password {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}
.input_second_pas {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 41px;
}
.btn {
    width: 300px;
    height: 45px;
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 36px;
}
.footer_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
}
.link_one {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.link_two {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
header {
    padding-top: 31px;
}
.login_btn {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #46a358;
    padding-bottom: 25px;
}
header ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 50px;
}
header a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.link_home {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_home:hover {
    font-weight: 700;
    color: #46a358;
}
.link_shop {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_plant {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_blogs {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.banner {
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 26px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
main {
    padding-top: 12px;

}
.banner_left {
    padding-left: 41px;

}
.text_top {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.text_title {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.color_text {
    color: #46a358;
}
.text_bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 27px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.btn_shop {
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 26px;
    margin-bottom: 85px;
    font-family: 'cera_round_pro_demoregular';
}
.product_section {
    max-width: 1200px;
    margin: auto;
}
.product_container {
    display: flex;
    justify-content: space-between;
}
.product_text {
    max-width: 310px;
    background: #fbfbfb;
}
.product_text ul {
    padding-left: 30px;
}
.product_text a:hover {
    font-weight: 700;
    color: #46a358;
}
.product_container .product_text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 7px;
}
.product_text a {
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    font-size: 15px;
    line-height: 267%;
    font-weight: 400;
    color: #3d3d3d;
}
.sale_img {
    margin-left: -30px;
}
.product {
    max-width: 840px;
    display: flex;
}
.top_img {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    margin-top: 80px;
    margin-right: 105px;
    margin-left: 50px;
}
.top_img .img {
    width: 258px;
    background: #fbfbfb;
}
.top_img a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'

}
.top_img p {
    padding-top: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular'
}





