@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal {
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    border-bottom: solid 10px #46a358;
}
.modal .title {
    text-align: center;
    margin-bottom: 40px;
}
.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.modal .title a:last-of-type {
    color: #46a358;;
}
.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    padding-right: 10px;
    padding-left: 10px;
}
.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
    font-family: 'cera_round_pro_demoregular';
}
.input_register {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
    font-family: 'cera_round_pro_demoregular';
}
.btn {
    width: 300px;
    height: 45px;
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'cera_round_pro_demoregular';
    border: none;
}
.footer_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'cera_round_pro_demoregular';
}
.link_network {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    gap: 15px;
    font-family: 'cera_round_pro_demoregular';
}
.container {
    max-width: 1200px;
    margin: auto;
}
header {
    padding-top: 31px;
}
.login_btn {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.login_btn img {
    padding-right: 4px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #46a358;
    padding-bottom: 25px;
}
header ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 50px;
}
header a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.container a:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}
.link_home {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_shop {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_plant {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.link_blogs {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.banner {
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 26px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
main {
    padding-top: 12px;

}
.banner_left {
    padding-left: 41px;

}
.text_top {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.text_title {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.color_text {
    color: #46a358;
}
.text_bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 27px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.btn_shop {
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 26px;
    margin-bottom: 85px;
    font-family: 'cera_round_pro_demoregular';
}
.product_section {
    max-width: 1200px;
    margin: auto;
}
.product_container {
    display: flex;
    justify-content: space-between;
}
.product_text {
    max-width: 310px;
    background: #fbfbfb;
    margin-bottom: 200px;
}
.product_text ul {
    padding-left: 30px;
    margin-bottom: 260px;
}
.product_text a:hover {
    font-weight: 700;
    color: #46a358;
}
.product_container .product_text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 7px;
}
.product_text a {
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    font-size: 15px;
    line-height: 267%;
    font-weight: 400;
    color: #3d3d3d;
}
.sale_img {
    margin-left: -30px;
}
.product {
    max-width: 840px;
    justify-content: space-between;
}
.text_product {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 30px;
}
.text_product ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 38px;
}
.text_product a {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular'
}
.text_product p {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.text_product a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    padding-bottom: 7px;
    border-bottom:2px solid #46a358; ;
}
.sale_img {
    margin-left: -30px;
}
.product {
    max-width: 840px;
}
.flowers_img {
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 30px ;
    margin-top: 80px;
    margin-bottom: 90px;
}
.flowers_img a{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.flowers_img p {
    padding-top: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular'
}
.flowers_img img {
    width: 250px;
    height: 250px;
    padding-bottom: 12px;
}
.list_pages {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 80px;
}
.list_pages ul{
    display: flex;
    gap: 10px;
}
.list_pages a{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: inline-block;
    padding: 9px 10px;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular'
}
.list_pages a:hover {
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}
.flex {
    margin-top: 69px;
    margin-bottom: 135px;
    max-width: 1200px;
}
.flex .blog_left {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.flex .blog_left article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 586px;
    text-align: right;
    padding-right: 37px;
    background: #fbfbfb;
}
.flex_img {
    width: 287px;
    height: 292px;
}
.blog_left h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    padding-bottom: 10px;
}
.blog_left p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    padding-bottom: 15px;
}
.blog_left a {
    margin-left: 120px;
    border-radius: 6px;
    background: #46a358;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 11px 15px 9px 28px;
    font-family: 'cera_round_pro_demoregular'
}
.blog {
    text-align: center;
    max-width: 1200px;
    margin-right: 60px;
    margin-bottom: 68px;
    margin-left: 60px;
}
.blog .flower-collection {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}
.blog .container_blog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    padding-bottom: 15px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog .text-blog {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    padding-bottom: 35px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog .text-blogCenter {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-bottom: 4px;
    padding-left: 13px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-bottom: 4px;
    padding-left: 13px;
}
.flower-collection img {
    width: 268px;
    height: 195px;
}
.container_blog .text-blogBot {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 9px;
    padding-left: 13px;
    color: #727272;
    font-family: 'cera_round_pro_demoregular'
}
.container_blog .btn-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-decoration: none;
    padding-left: 13px;
    color: #3d3d3d;
    transition: 1s;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog .btn-more:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.btn-more:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url("../images/Arrow-Right3.svg");
    transition: 1s;
}
.btn-more:hover:after {
    background-image: url("../images/Arrow-Right4.svg");
}


