@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal {
    position: relative;
    max-width: 500px;
    margin: auto;
    padding: 52px 110px 100px 40px;
    border-bottom: solid 10px #46a358;
}
.modal .title {
    text-align: center;
    margin-bottom: 40px;
}
.modal .btn-close {
    margin: auto;
    position: absolute;
    top: 7px;
    right: 0;
}
.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.modal .title a:last-of-type {
    color: #46a358;;
}
.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    padding-right: 10px;
    padding-left: 10px;
}
.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
    font-family: 'cera_round_pro_demoregular';
}
.input_register {
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
    font-family: 'cera_round_pro_demoregular';
}
.input-password {
    position: relative;
}
.input-password .eye-icon {
    position: absolute;
    right: 64px;
    top: 11px;
}
.btn {
    width: 300px;
    height: 45px;
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'cera_round_pro_demoregular';
    border: none;
}
.footer_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'cera_round_pro_demoregular';
}
.link_network {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    gap: 15px;
    font-family: 'cera_round_pro_demoregular';
}
.container {
    max-width: 1200px;
    margin: auto;
}
.container .first-logo {
    width: 100px;
    height: 35px;
}
header {
    padding-top: 31px;
}
.login_btn {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    transition: 0.5s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.container .login_btn:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}
.container .login_btn {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular';
}
.login_btn:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/Logout.svg");
    transition: 0.5s;
    margin-right: 4px;
}
.login_btn:hover:before {
    background-image: url("../images/Logout2.svg");
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #46a358;
    padding-bottom: 25px;
}
header ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
header .menu-first {
    position: absolute;
    bottom: -113px;
    left: -45px;
    display: none;
    width: 169px;
    height: 113px;
    padding-top: 42px;
    transition: 0.5s;
}
header .menu-first .menu-link {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header .links_navigation:nth-child(3) {
    position: relative;
}
header .menu-first li {
    text-align: left;
    min-width: 188px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    background: #edf6ee;
}
header .menu-first li:hover {
    background: #1a712a;
}
header .links_navigation:nth-child(3):hover .menu-first {
    display: block;
}
.container ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color:  #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    }
.container .links_navigation {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #3d3d3d;
}
.container .links_navigation:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}
.links_navigation:hover::after {
    width: 100%;
}
.links_navigation:after {
    content: "";
    display: block;
    width: 0;
    height:3px ;
    background-color: #46a358;
    position: relative;
    bottom: -36px ;
    transition: 0.4s;
}
.banner {
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 26px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
main {
    padding-top: 12px;
}
.banner_left {
    padding-left: 41px;
}
.banner_right img {
    width: 507px;
    height: 450px;
}
.text_top {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.text_title {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.color_text {
    color: #46a358;
}
.text_bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 27px;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
}
.btn_shop {
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 26px;
    margin-bottom: 85px;
    font-family: 'cera_round_pro_demoregular';
}
.product_section {
    max-width: 1200px;
    margin: auto;
}
.product_container {
    display: flex;
    justify-content: space-between;
}
.product_text {
    max-width: 310px;
    background: #fbfbfb;
    margin-bottom: 200px;
}
.product_text ul {
    padding-left: 30px;
    margin-bottom: 260px;
}
.product_text a:hover {
    font-weight: 700;
    color: #46a358;
}
.product_container .product_text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 7px;
}
.product_text a {
    font-family: 'cera_round_pro_demoregular';
    text-decoration: none;
    font-size: 15px;
    line-height: 267%;
    font-weight: 400;
    color: #3d3d3d;
}
.sale_img {
    width: 310px;
    height: 470px;
    margin-left: -30px;
}
.product {
    max-width: 840px;
    justify-content: space-between;
}
.text_product {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 30px;
}
.text_product ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 38px;
}
.text_product a {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular'
}
.text_product p {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.text_product a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    padding-bottom: 7px;
    border-bottom:2px solid #46a358; ;
}
.sale_img {
    margin-left: -30px;
}
.product {
    max-width: 840px;
}
.flowers_img {
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 30px ;
    margin-top: 80px;
    margin-bottom: 90px;
}
.product-cards {
    border-top: solid 1px transparent;
    position: relative;
}
.product-cards .frame {
    display: flex;
    width: 125px;
    position: absolute;
    bottom: 57px;
    gap: 26px;
    left: 27%;
}
.product-cards .frame .shopping {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/shopping2.svg");
    opacity: 0;
    transition: 0.3s;
}
.product-cards .frame .shopping:hover {
    background-image: url("../images/shopping1.svg");
    color: #46a358;
    opacity: 1;
    transition: 0.3s;
}
.product-cards .frame .heart {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/heart1.svg");
    opacity: 0;
    transition: 0.3s;
}
.product-cards .frame .heart:hover {
    background-image: url("../images/heart2.svg");
    color: #46a358;
    opacity: 1;
    transition: 0.3s;
}
.product-cards .frame .vector {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/Vector (1).svg");
    opacity: 0;
    transition: 0.3s;
}
.product-cards .frame .vector:hover {
    background-image: url("../images/Vector(2).svg");
    color: #46a358;
    opacity: 1;
    transition: 0.3s;
}
.product-cards .frame img {
    width: 20px;
    height: 20px;
    padding-bottom: 0;

}
.product-cards .sale {
    width: 80px;
    height: 29px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px 8px;
}
.product-cards:hover {
    border-top: solid 1px #46a358;
}
.flowers_img a{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.flowers_img p {
    padding-top: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular'
}
.flowers_img p span {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    padding-left: 16px;
}
.flowers_img img {
    width: 250px;
    height: 250px;
    padding-bottom: 12px;
}
.list_pages {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 80px;
}
.list_pages .arrow {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../images/Arrow-Right2.svg");
}
.list_pages .arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
.list_pages ul {
    display: flex;
    gap: 10px;
}
.list_pages li {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.list_pages a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding: 9px 10px;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular'
}
.list_pages li:hover {
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}
.banner-section {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 130px;
}
.banner-section .blog_left {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.banner-section .blog_left article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 586px;
    text-align: right;
    padding-right: 37px;
    background: #fbfbfb;
}
.flex_img {
    width: 287px;
    height: 292px;
}
.blog_left h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    padding-bottom: 10px;
}
.blog_left p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    padding-bottom: 15px;
}
.blog_left a {
    margin-left: 120px;
    border-radius: 6px;
    background: #46a358;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 11px 15px 9px 28px;
    font-family: 'cera_round_pro_demoregular'
}
.blog_left a img {
    margin-left: 2px;
}
.blog {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 68px;
}
.blog .flower-collection {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}

.blog .container_blog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    padding-bottom: 15px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog .text-blog {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    padding-bottom: 35px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog .text-blogCenter {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-bottom: 4px;
    padding-left: 13px;
    font-family: 'cera_round_pro_demoregular'
}
.blog .container_blog h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-bottom: 4px;
    padding-left: 13px;
    font-family: 'cera_round_pro_demoregular'
}
.flower-collection img {
    width: 268px;
    height: 195px;
    margin-bottom: 8px;
}
.container_blog .text-blogBot {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    padding-bottom: 9px;
    padding-left: 13px;
    color: #727272;
    font-family: 'cera_round_pro_demoregular'
}
.container_blog .btn-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-decoration: none;
    padding-left: 13px;
    color: #3d3d3d;
    transition: 0.5s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'cera_round_pro_demoregular'

}
.blog .container_blog .btn-more:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.btn-more:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url("../images/Arrow-Right3.svg");
    transition: 0.5s;
    margin-left: 3px;
}
.btn-more:hover:after {
    background-image: url("../images/Arrow-Right4.svg");
}
.banner-top {
    max-width: 1200px;
    margin: auto;
    background: #fbfbfb;
}
.banner-top .container-top {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.container-top {
    position: relative;
}
.banner-top .cards-info {
    width: 230px;
    margin-top: 24px;
    margin-bottom: 40px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.banner-top .cards-info:last-of-type {
    border-right: none;
}
.banner-top .cards-info img {
    width: 77px;
    height: 95px;
    padding-bottom: 15px;
}
.banner-top .cards-info h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
    font-family: 'cera_round_pro_demoregular'
}
.banner-top .cards-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular'
}
.banner-top .cards-info:after {
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    position: absolute;
}
.cards-last {
    width: 354px;
    background: #fbfbfb;
    margin-bottom: 40px;
}
.cards-last .input-btn {
    display: flex;
    width: 354px;
    height: 40px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 18px;
}
.cards-last h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-top: 35px;
    margin-bottom: 23px;
    font-family: 'cera_round_pro_demoregular'
}
.cards-last .input-btn .input-one {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 269px;;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    padding: 11px 12px;
    font-family: 'cera_round_pro_demoregular'
}
.cards-last .input-btn .btn-join {
    background: #46a358;
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_round_pro_demoregular'
}
.cards-last p {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular'
}
.container-background {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}
.container-background .logotype {
    width: 150px;
    height: 34px;
    margin: 27px 23px;
}
.container-background .address:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/Icon.svg");
    margin-right: 9px;
}
.container-background .address {
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.container-background .contact:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/Icon(1).svg");
    margin-right: 9px;
}
.container-background .contact {
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.container-background .phone-number {
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 157%;
    color: #3d3d3d;
    margin-right: 23px;
    font-family: 'cera_round_pro_demoregular'
}
.container-background .phone-number:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/Icon(2).svg");
    margin-right: 9px;
}
.container-info {
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    margin: auto;
    gap: 120px;
    background: #fbfbfb;
    border-bottom: solid 1px rgba(70, 163, 88, 0.2);
}
.container-info .about-account {
    margin-top: 33px;

}
.container-info .about-account p{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
    margin-left: 25px;
    font-family: 'cera_round_pro_demoregular'
}
.about-account ul {
    padding-left: 25px;
    padding-bottom: 30px;
}
.about-account a {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    text-decoration: none;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.social-media {
    margin-top: 33px;
    margin-right: 150px;
}
.social-media h3{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.social-media ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.social-media li {
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 7px;
}
.social-media h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 13px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.social-media .bank-cards {
    width: 224px;
    height: 26px;
    background: #fbfbfb;
    mix-blend-mode: multiply;
}
.GreenShop {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular'
}
.animal {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    animation: ani 4s infinite;
}
.loader {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 2s forwards;
}
.loader img {
    width: 140px;
    animation: loading 1.7s ease-in forwards;
}
@keyframes loading {
    0% {
        opacity: 1;
    }
    15%{
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.nav-but-wrap {
    display: none;
}











